<link rel="stylesheet" type= "text/css" href="/stylesheets/browseanimals.css"/>

<div>
<select id="animalsToView" value = "Submit">
	<option value="Cat">Cat</option> 
	<option value="Dog">Dog</option> 
	<option value="Bird">Bird</option>
	<option value="Horse">Horse</optio>
</select>
</div>
<input type="submit" name="listSubmit" id="listSubmit"><br>

<div>
<ul id="animalList"></ul>	
</div>


<script type = "text/javascript">

	document.getElementById('listSubmit').addEventListener('click', function(event){
		var con = mysql.createConnection({
  					host  : 'localhost',
  					user  : 'root',
  					password: 'Password',
  					database: 'petConnectDB'
					});
		con.connect(function(err){
  			if(err){
    			console.log('Error Connecting To The DataBase!');
    			return;
  			}
  			console.log('Connection Established To The DataBase');
		});
		var aType=document.getElementById('animalsToView').value;
		con.query('SELECT ' + aType + ' FROM animalInDistress', function(err,row){
			if(err) throw err;

			for(var i = 0; i < row.length; i++){
				var listItem = document.createElement("li");

				var aPic = document.createElement("file");
				aPic = row[i].photo;
				listItem.appendChild(aPic);

				var aCity = document.createElement("div");
				aCity.textContent = row[i].description;
				listItem.appendChild(aCity);

				var aState = document.createElement("div");
				aState.textContent = row[i].animalState;
				listItem.appendChild(aState);

				var aDescrip = document.createElement("div"); 
				aDescrip.textContent = row[i].description;
				listItem.appendChild(aDescrip);

				document.getElementById("animalList").appendChild(listItem);
			};
			
		});});




</script>