<link rel="stylesheet" type= "text/css" href="/stylesheets/browseanimals.css"/>

<div id="choice">
Please select the type of animal you would like to view.
<hr>
<select id="animalsToView">
	<option value="Cat">Cat</option> 
	<option value="Dog">Dog</option> 
	<option value="Bird">Bird</option>
	<option value="Horse">Horse</optio>
</select>
<hr>
Please select your location.
<hr>
<select name="State" id="animalToViewState">
	<option value="al">Alabama</option> 
	<option value="ak">Alaska</option> 
	<option value="az">Arizona</option>
	<option value="ar">Arkansas</optio>
	<option value="ca">California</option>
	<option value="co">Colorado</option>
	<option value="ct">Connecticut</option>
	<option value="de">Delaware</option>
	<option value="dc">District Of Columbia</option>
	<option value="fl">Florida</option>
	<option value="ga">Georgia</option>
	<option value="hi">Hawaii</option>
	<option value="id">Idaho</option>
	<option value="il">Illinois</option>
	<option value="in">Indiana</option>
	<option value="ia">Iowa</option>
	<option value="ks">Kansas</option>
	<option value="ky">Kentucky</option>
	<option value="la">Louisiana</option>
	<option value="me">Maine</option>
	<option value="md">Maryland</option>
	<option value="ma">Massachusetts</option>
	<option value="mi">Michigan</option>
	<option value="mn">Minnesota</option>
	<option value="ms">Mississippi</option>
	<option value="mo">Missouri</option>
	<option value="mt">Montana</option>
	<option value="ne">Nebraska</option>
	<option value="nv">Nevada</option>
	<option value="nh">New Hampshire</option>
	<option value="nj">New Jersey</option>
	<option value="nm">New Mexico</option>
	<option value="ny">New York</option>
	<option value="nc">North Carolina</option>
	<option value="nd">North Dakota</option>
	<option value="oh">Ohio</option>
	<option value="ok">Oklahoma</option>
	<option value="or" selected>Oregon</option>
	<option value="pa">Pennsylvania</option>
	<option value="ri">Rhode Island</option>
	<option value="sc">South Carolina</option>
	<option value="sd">South Dakota</option>
	<option value="tn">Tennessee</option>
	<option value="tx">Texas</option>
	<option value="ut">Utah</option>
	<option value="vt">Vermont</option>
	<option value="va">Virginia</option>
	<option value="wa">Washington</option>
	<option value="wv">West Virginia</option>
	<option value="wi">Wisconsin</option>
	<option value="wy">Wyoming</option>
</select>
<input type="submit" name="listSubmit" id="listSubmit"></div><br>

<ul id="animalList"></ul>


<script type = "text/javascript">

	//makes hidden inputs for each listed animals 'view animal' button
	function makeHiddenInputs(elName, elVal){
		x = document.createElement("input");
		x.type = "hidden";
		x.name = elName;
		x.value = elVal;

		return x;
	}

	document.getElementById('listSubmit').addEventListener('click', function(event){

		//If the user hit the search for animals button again then remove all previous search results
		var previousList = document.getElementById("animalList");
		if(previousList.hasChildNodes()){
			while(previousList.hasChildNodes()){
				previousList.removeChild(previousList.firstChild);
			}
		}
			
		//async request to get animal info from the database based on the 
		//users choice of 'animalType' and 'animalState'
		var req = new XMLHttpRequest();
		var payload = {};
		payload.animalReq = document.getElementById('animalsToView').value;
		payload.stateReq = document.getElementById('animalToViewState').value;
		req.open('POST', '/populateAnimals', true);
		req.setRequestHeader('Content-Type', 'application/json');
		req.addEventListener('load',function(){
			if(req.status >= 200 && req.status < 400){

				//console.log("The response text: ");
				//console.log(req.responseText);
				var resData = JSON.parse(req.response);
				//console.log(resData);

				//Set list to visible, then loop over the number of animal records returned 
				//from mysql while building a list item for each animal record. 
				document.getElementById("animalList").style.visibility = "visible";
				for(var i = 0; i < resData.length; i++){
					//the list item
					var listItem = document.createElement("li");
					listItem.style.border="thin solid";
					listItem.style.backgroundColor = "white";
					listItem.style.padding = "3px";
					listItem.style.marginLeft = "50px";
					listItem.class = "listInner";

					//Not sure how to handle images yet
					//var aPic = document.createElement("file");
					//aPic = resData[i].photo;
					//listItem.appendChild(aPic);

					//Show the animals city and state
					var aCity = document.createElement("div");
					aCity.class="cityDiv";
					aCity.style.backgroundColor = "white";
					aCity.style.marginLeft = "15px";
					aCity.textContent = "Current Location: " + resData[i].city + ", " + resData[i].animalState;
					listItem.appendChild(aCity);

					//Show the animal description
					var aDescrip = document.createElement("div");
					aDescrip.class="descriptionDiv"; 
					aDescrip.style.backgroundColor = "white";
					aDescrip.style.marginLeft = "15px";
					aDescrip.textContent = "Description: " + resData[i].description;
					listItem.appendChild(aDescrip);

					//form for linking to individual animals page
					var form = document.createElement("form");
					form.action = "/viewanimal";
					form.method = "GET";

					//Make all of the forms hidden inputs
					var id = makeHiddenInputs("id", resData[i].id);
					//id.type = "hidden";
					//id.name = "id";
					//id.value = resData[i].id;
					form.appendChild(id);

					var at = makeHiddenInputs("animalType", resData[i].animalType);
					//at.type = "hidden";
					//at.name = "animalType";
					//at.value = resData[i].animalType;
					form.appendChild(at);

					var dx = makeHiddenInputs("description", resData[i].description);
					//dx.type = "hidden";
					//dx.name = "description";
					//dx.value = resData[i].description;
					form.appendChild(dx);

					var ad = makeHiddenInputs("address", resData[i].address);
					//ad.type = "hidden";
					//ad.name = "address";
					//ad.value = resData[i].address;
					//form.appendChild(ad);

					var ct = makeHiddenInputs("city", resData[i].city);
					//ct.type = "hidden";
					//ct.name = "city";
					//ct.value = resData[i].city;
					form.appendChild(ct);

					var as = makeHiddenInputs("animalState", resData[i].animalState);
					//as.type = "hidden";
					//as.name = "animalState";
					//as.value = resData[i].animalState;
					form.appendChild(as);

					var fi = makeHiddenInputs("finderID", resData[i].finderID);
					//fi.type = "hidden";
					//fi.name = "finderID";
					//fi.value = resData[i].finderID;
					form.appendChild(fi);

					var st = makeHiddenInputs("status", resData[i].status);
					//st.type = "hidden";
					//st.name = "status";
					//st.value = resData[i].status;
					form.appendChild(st);

					//Make the forms submit button then attach, button->form->listItem
					var button = document.createElement("input");
					button.type = "submit";
					button.class = "listButton";
					button.textContent = "View Animal";
					button.value = "Submit";					
					button.style.color = "green";
					button.style.backgroundColor = "lightgrey";
					button.style.alignSelf = "center";
					button.style.fontSize = "12px";
					button.style.border = "1px solid black";
					form.appendChild(button);
					listItem.appendChild(form);

					document.getElementById('animalList').appendChild(listItem);
				}
			}	
			else{
				console.log("Error in network request: " + req.statusText);
			}
		});

		req.send(JSON.stringify(payload));
		event.preventDefault();
		event.stopPropagation();
	});
</script>
