<link rel="stylesheet" type= "text/css" href="/stylesheets/browseanimals.css"/>

<div>
<select id="animalsToView">
	<option value="Cat">Cat</option> 
	<option value="Dog">Dog</option> 
	<option value="Bird">Bird</option>
	<option value="Horse">Horse</optio>
</select>
</div>
<input type="submit" name="listSubmit" id="listSubmit"><br>

<div>
<ul id="animalList"></ul>	
</div>


<script type = "text/javascript">


		document.getElementById('listSubmit').addEventListener('click', function(event){
			var req = new XMLHttpRequest();
			var payload = {};
			payload.animalReq = document.getElementById('animalsToView').value;
			req.open('POST', '/populateAnimals', true);
			req.setRequestHeader('Content-Type', 'application/json');
			req.addEventListener('load',function(){
				if(req.status >= 200 && req.status < 400){

					console.log("The response text: ");
					console.log(req.responseText);
					var resData = JSON.parse(req.response);
					console.log(resData);
					//addRow(newElement);
					
				} else {
					console.log("Error in network request: " + req.statusText);
		  
				}
				
			});
			req.send(JSON.stringify(payload));
			event.preventDefault();
			event.stopPropagation();
			});































				//var listItem = document.createElement("li");

				//var aPic = document.createElement("file");
				//aPic = row[i].photo;
				//listItem.appendChild(aPic);

				//var aCity = document.createElement("div");
				//aCity.textContent = row[i].description;
				//listItem.appendChild(aCity);

				//var aState = document.createElement("div");
				//aState.textContent = row[i].animalState;
				//listItem.appendChild(aState);

				//var aDescrip = document.createElement("div"); 
				//aDescrip.textContent = row[i].description;
				//listItem.appendChild(aDescrip);

				//document.getElementById("animalList").appendChild(listItem);




</script>