<link rel="stylesheet" type= "text/css" href="/stylesheets/browseanimals.css"/>

<div>
<select id="animalsToView">
	<option value="Cat">Cat</option> 
	<option value="Dog">Dog</option> 
	<option value="Bird">Bird</option>
	<option value="Horse">Horse</optio>
</select>
</div>
<input type="submit" name="listSubmit" id="listSubmit"><br>

<div id="animalList">
	
</div>


<script type = "text/javascript">


		document.getElementById('listSubmit').addEventListener('click', function(event){
			var req = new XMLHttpRequest();
			var payload = {};
			payload.animalReq = document.getElementById('animalsToView').value;
			req.open('POST', '/populateAnimals', true);
			req.setRequestHeader('Content-Type', 'application/json');
			req.addEventListener('load',function(){
				if(req.status >= 200 && req.status < 400){

					console.log("The response text: ");
					console.log(req.responseText);
					var resData = JSON.parse(req.response);
					console.log(resData);
					//addRow(newElement);
					for(var i = 0; i < resData.length; i++){
						var listItem = document.createElement("div");

						//var aPic = document.createElement("file");
						//aPic = resData[i].photo;
						//listItem.appendChild(aPic);

						var aCity = document.createElement("div");
						aCity.class="cityDiv";
						aCity.textContent = resData[i].city;
						listItem.appendChild(aCity);

						var aState = document.createElement("div");
						aState.class="stateDiv";
						aState.textContent = resData[i].animalState;
						listItem.appendChild(aState);

						var aDescrip = document.createElement("div");
						aDescrip.class="descriptionDiv"; 
						aDescrip.textContent = resData[i].description;
						listItem.appendChild(aDescrip);

						var button = document.createElement("button");
						button.textContent = "View Animal";
						button.id = resData[i].id;
						button.value = resData[i].id;
						button.addEventListener('click', function(event2){
							var req2 = new XMLHttpRequest();
							var payload2 = {};
			 				payload2 = event.target.value;
							req2.open('POST', '/viewanimal', true);
							req2.setRequestHeader('Content-Type', 'application/json');
							req2.addEventListener('load',function(){
								if(req2.status >= 200 && req2.status < 400){

									console.log("The response text: ");
									console.log(req2.responseText);
									var resData2 = JSON.parse(req2.response);
									console.log(resData2);
								} else {
									console.log("Error in network request: " + req2.statusText);
		  
								}
				
								});
							req2.send(JSON.stringify(payload2));
							event2.preventDefault();
							event2.stopPropagation();
						});
						listItem.appendChild(button);
						document.getElementById('animalList').appendChild(listItem);
					}
				}	
				else{
					console.log("Error in network request: " + req.statusText);
				}
			});

			req.send(JSON.stringify(payload));
			event.preventDefault();
			event.stopPropagation();
		});





</script>