<link rel="stylesheet" type= "text/css" href="/stylesheets/home.css"/>
<br>
<div id="headerwrap"><h1>Welcome To PetConnect</h1></div><br><br><br>

<div>
<form action="/signup">
<input type="submit" value="Sign Up"/><br>
</form>
<form action="/login">
<input type="submit" value="Log In/View My Animal Matches"/><br>
</form>
<form action="/submitanimal">
<input type="submit" value="Submit Animal in Distress"/><br>
</form>
</div>










