<link rel="stylesheet" type= "text/css" href="/stylesheets/home.css"/>
<h1>Welcome To PetConnect</h1>

<div>
<form action="/signup">
<input type="submit" value="Sign Up"/>
</form>

<form action="/login">
<input type="submit" value="Log In"/>
</form>

<form action="/submitanimal">
<input type="submit" value="Submit Animal in Distress"/>
</form>

</div>










