<link rel="stylesheet" type= "text/css" href="/stylesheets/home.css"/>
<h1>Welcome To PetConnect</h1>

<div>
<form action="/signup">
<input type="submit" name="Sign up">
</form>

<form action="/login">
<input type="submit" name="Log in">
</form>
</div>










