<link rel="stylesheet" type= "text/css" href="/stylesheets/login.css"/>

<div>
<fieldset>	
<div>
<input type="text" placeholder="User Name" name="SystemName"><br>

<input type="password" placeholder="Password" name="UserPassword"><br>

<input type="submit" value="Log In"/>	
</div>
</fieldset>
</div>