<link rel="stylesheet" type= "text/css" href="/stylesheets/login.css"/>

<div>
<fieldset>	
<div>
User Name: <input type="text" name="SystemName"><br>

Password: <input type="password" name="UserPassword"><br>	
</div>
</fieldset>
</div>