<link rel="stylesheet" type= "text/css" href="/stylesheets/login.css"/>
<script src="login_clientSide.js"></script>
<div>
<fieldset id="loginForm">	
<div>
<input type="text" placeholder="User Name" name="SystemName" id="uname"><br>

<input type="password" placeholder="Password" name="UserPassword" id="pw"><br>

<input type="submit" value="Log In" id="login"/>	
</div>
</fieldset>
</div>

<ul id="animalList">
	
</ul>
