<link rel="stylesheet" type= "text/css" href="/stylesheets/signup.css"/>
<form><br>

<fieldset>
<hr>
Please Enter Your Information<br>

<hr>

<input type="text" placeholder="First Name" name="newUserFirstName" id="newUserFirstName">

<input type="text" placeholder="Last Name" name="newUserLastName" id="newUserLastName"><br>

<input type="text" placeholder="Street Address" name="newUserStreetAddress" id="newUserStreetAddress"><br>

<input type="text" placeholder="City" name="newUserCity" id="newUserCity">


   	<select name="State" id="newUserState">
		<option value="al">Alabama</option> 
		<option value="ak">Alaska</option> 
		<option value="az">Arizona</option>
		<option value="ar">Arkansas</optio>
		<option value="ca">California</option>
		<option value="co">Colorado</option>
		<option value="ct">Connecticut</option>
		<option value="de">Delaware</option>
		<option value="dc">District Of Columbia</option>
		<option value="fl">Florida</option>
		<option value="ga">Georgia</option>
		<option value="hi">Hawaii</option>
		<option value="id">Idaho</option>
		<option value="il">Illinois</option>
		<option value="in">Indiana</option>
		<option value="ia">Iowa</option>
		<option value="ks">Kansas</option>
		<option value="ky">Kentucky</option>
		<option value="la">Louisiana</option>
		<option value="me">Maine</option>
		<option value="md">Maryland</option>
		<option value="ma">Massachusetts</option>
		<option value="mi">Michigan</option>
		<option value="mn">Minnesota</option>
		<option value="ms">Mississippi</option>
		<option value="mo">Missouri</option>
		<option value="mt">Montana</option>
		<option value="ne">Nebraska</option>
		<option value="nv">Nevada</option>
		<option value="nh">New Hampshire</option>
		<option value="nj">New Jersey</option>
		<option value="nm">New Mexico</option>
		<option value="ny">New York</option>
		<option value="nc">North Carolina</option>
		<option value="nd">North Dakota</option>
		<option value="oh">Ohio</option>
		<option value="ok">Oklahoma</option>
		<option value="or" selected>Oregon</option>
		<option value="pa">Pennsylvania</option>
		<option value="ri">Rhode Island</option>
		<option value="sc">South Carolina</option>
		<option value="sd">South Dakota</option>
		<option value="tn">Tennessee</option>
		<option value="tx">Texas</option>
		<option value="ut">Utah</option>
		<option value="vt">Vermont</option>
		<option value="va">Virginia</option>
		<option value="wa">Washington</option>
		<option value="wv">West Virginia</option>
		<option value="wi">Wisconsin</option>
		<option value="wy">Wyoming</option>
	</select>

<input type="text" placeholder="Zipcode" name="newUserZip" id="newUserZip"><br><br>

<input type="text" placeholder="Phone Number" name="newUserPhone" id="newUserPhone"><br>

<input type="text" placeholder="Email" name="newUserEmail" id="newUserEmail"><br><br>

<input type="text" placeholder="Desired User Name" name="newUserSystemName" id="newUserSystemName"><br>

<input type="password" placeholder="Password" name="newUserPassword" id="newUserPassword"><br>

<input type="password" placeholder="Re-Enter Password" name="newUserPasswordVerifier" id="newUserPasswordVerifier"><br> 
				
</fieldset>
<br>
<fieldset>
<hr>
Animals you'd be willing to host:<br>
<hr>
<input type="checkbox" value="dog" id="mayhostdog">Dog</option><br>
<input type="checkbox" value="cat" id="mayhostcat">Cat</option><br>
<input type="checkbox" value="bird" id="mayhostbird">Bird</option><br>
<input type="checkbox" value="horse" id="mayhosthorse">Horse</option><br>
<hr>
Animals you'd be willing to help:<br>
<hr>
<input type="checkbox" value="dog" id="mayhelpdog">Dog</option><br>
<input type="checkbox" value="cat" id="mayhelpcat">Cat</option><br>
<input type="checkbox" value="bird" id="mayhelpbird">Bird</option><br>
<input type="checkbox" value="horse" id="mayhelphorse">Horse</option><br>
<hr>
Animals you'd be willing to adopt:<br>
<hr>
<input type="checkbox" value="dog" id="mayadoptdog">Dog</option><br>
<input type="checkbox" value="cat" id="mayadoptcat">Cat</option><br>
<input type="checkbox" value="bird" id="mayadoptbird">Bird</option><br>
<input type="checkbox" value="horse" id="mayadopthorse">Horse</option><br>

</fieldset><br>

<input type="submit" name="newUserSubmit" id="newUserSubmit"><br>

</form>

<script type = "text/javascript">


		document.getElementById('newUserSubmit').addEventListener('click', function(event){
			var req = new XMLHttpRequest();
			var payload = {};
			payload.fName = document.getElementById('newUserFirstName').value;
			payload.lName = document.getElementById('newUserLastName').value;
			payload.street = document.getElementById('newUserStreetAddress').value;
			payload.state = document.getElementById('newUserState').value;
			payload.city = document.getElementById('newUserCity').value;
			payload.zip = document.getElementById('newUserZip').value;
			payload.phone = document.getElementById('newUserPhone').value;
			payload.email = document.getElementById('newUserEmail').value;

			//Need some checks on matching passwords
			payload.userName = document.getElementById('newUserSystemName').value;
			payload.password = document.getElementById('newUserPassword').value;

			req.open('POST', '/signup', true);
			req.setRequestHeader('Content-Type', 'application/json');
			req.addEventListener('load',function(){
				if(req.status >= 200 && req.status < 400){

					console.log("The response text: ");
					console.log(req.responseText);
					var resData = JSON.parse(req.response);
					console.log(resData);
					//addRow(newElement);
					
				}	
				else{
					console.log("Error in network request: " + req.statusText);
				}
			});

			req.send(JSON.stringify(payload));
			event.preventDefault();
			event.stopPropagation();
		});



</script>



