<link rel="stylesheet" type= "text/css" href="/stylesheets/signup.css"/>
<form><br>

<fieldset>
<hr>
Please Enter Your Information<br>

<hr>

First Name: <input type="text" name="newUserFirstName"><br> 

Last Name: <input type="text" name="newUserLastName"><br>

Street Address: <input type="text" name="newUserStreetAddress"><br>

City: <input type="text" name="newUserCity">

State:
   	<select id="stateSubmit">
		<option value="al">Alabama</option> 
		<option value="ak">Alaska</option> 
		<option value="az">Arizona</option>
		<option value="ar">Arkansas</optio>
		<option value="ca">California</option>
		<option value="co">Colorado</option>
		<option value="ct">Connecticut</option>
		<option value="de">Delaware</option>
		<option value="dc">District Of Columbia</option>
		<option value="fl">Florida</option>
		<option value="ga">Georgia</option>
		<option value="hi">Hawaii</option>
		<option value="id">Idaho</option>
		<option value="il">Illinois</option>
		<option value="in">Indiana</option>
		<option value="ia">Iowa</option>
		<option value="ks">Kansas</option>
		<option value="ky">Kentucky</option>
		<option value="la">Louisiana</option>
		<option value="me">Maine</option>
		<option value="md">Maryland</option>
		<option value="ma">Massachusetts</option>
		<option value="mi">Michigan</option>
		<option value="mn">Minnesota</option>
		<option value="ms">Mississippi</option>
		<option value="mo">Missouri</option>
		<option value="mt">Montana</option>
		<option value="ne">Nebraska</option>
		<option value="nv">Nevada</option>
		<option value="nh">New Hampshire</option>
		<option value="nj">New Jersey</option>
		<option value="nm">New Mexico</option>
		<option value="ny">New York</option>
		<option value="nc">North Carolina</option>
		<option value="nd">North Dakota</option>
		<option value="oh">Ohio</option>
		<option value="ok">Oklahoma</option>
		<option value="or" selected>Oregon</option>
		<option value="pa">Pennsylvania</option>
		<option value="ri">Rhode Island</option>
		<option value="sc">South Carolina</option>
		<option value="sd">South Dakota</option>
		<option value="tn">Tennessee</option>
		<option value="tx">Texas</option>
		<option value="ut">Utah</option>
		<option value="vt">Vermont</option>
		<option value="va">Virginia</option>
		<option value="wa">Washington</option>
		<option value="wv">West Virginia</option>
		<option value="wi">Wisconsin</option>
		<option value="wy">Wyoming</option>
	</select><br>

Zipcode: <input type="text" name="newUserZip"><br>	

Phone Number: <input type="text" name="newUserPhone"><br>

Email: <input type="text" name="newUserEmail"><br>

Desired User Name: <input type="text" name="newUserSystemName"><br>

Password: <input type="password" name="newUserPassword"><br>

Re-Enter Password: <input type="password" name="newUserPasswordVerifier"><br> 
				
</fieldset>
<br>
<fieldset>
<hr>
Animals you'd be willing to host:<br>
<hr>
<input type="checkbox" value="dog">Dog</option><br>
<input type="checkbox" value="cat">Cat</option><br>
<input type="checkbox" value="bird">Bird</option><br>
<input type="checkbox" value="horse">Horse</option><br>
<hr>
Animals you'd be willing to help:<br>
<hr>
<input type="checkbox" value="dog">Dog</option><br>
<input type="checkbox" value="cat">Cat</option><br>
<input type="checkbox" value="bird">Bird</option><br>
<input type="checkbox" value="horse">Horse</option><br>
<hr>
Animals you'd be willing to adopt:<br>
<hr>
<input type="checkbox" value="dog">Dog</option><br>
<input type="checkbox" value="cat">Cat</option><br>
<input type="checkbox" value="bird">Bird</option><br>
<input type="checkbox" value="horse">Horse</option><br>

</fieldset><br>

<input type="submit" name="Submit Info"><br>

</form>
