body{
	background-color : lightslategrey;
}

form{
	background-color : lightgrey;
	border-radius : 5px; 
	border-color : darkslategrey;
	border-style : ridge;
}

.animalList{
	background-color : white;
}

.listInnerMainDiv{
	background-color : white;
}

.cityDiv{
	background-color : white;
}

.stateDiv{
	background-color : white;
}

.descriptionDiv{
	background-color : white;
}

.listForm{
	background-color : white;
}

.listButton{

}