body{
	background-color : lightslategrey;
}

form{
	background-color : lightgrey;
	border-radius : 5px; 
	border-color : darkslategrey;
	border-style : ridge;
	margin :auto;
	width:25%;
	text-align:center;
}

#headerwrap{
	background-color : lightgrey;
	border-radius : 5px; 
	border-color : darkslategrey;
	border-style : ridge;
	width :65%; 
	margin:auto;


}

h1{
	font-style:oblique;
	margin:auto;
	text-align:center;
	width:inherit;


}

div{
	clear:both;
	float:none;
	overflow:overlay;
	
}
